<div id = "myacdet">
    {{#each ulist}}

        <p>Name: </p><p class = "htdispname"></p>{{this.fname}}<p class = "htdispname">{{this.lname}}</p>
         <p>Email :</p><p id = "htdispemail">{{this.email}}</p>
         <p>ID: </p><p id = "htdispid"></p>
    {{/each}}
</div>

<div> My Wish List</div>
<div id = "mywishlist">
  {{#each wlist}}
            <div class = "row">
                    <div class = "col-lg-1">
                         <p>{{this.id}}</p>
                    </div>
                    <div class = "col-lg-3">
                        <text data-id ="{{this.id}}" >{{this.product_name}}</text>
                    </div>
                    <div class = "col-lg-5">
                        <text data-id ="{{this.id}}" >{{this.product_desc}}</text>
                    </div>
                    <div class = "col-lg-3">
                        <button data-id ="{{this.id}}" class ="updbtn btn btn-info">Update List</button>
                    </div>
                    <div class = "col-lg-3">
                        <button data-id ="{{this.id}}" class ="delbtn btn btn-danger">Delete Item</button>
                    </div>
            </div>
    {{/each}}

</div>
<div class = "container">
              <h4>Add Wish List Details</h4>
              <div class = "row">
                    <form class = "create-form">
                           <div class = "form-group">
                                 <label>Product Name :</label>
                                 <input id = "htprodname" type = "text" name = "htsubname">
                                 <label>Enter Description :</label>
                                  <input id = "htproddesc" type = "text" name = "hthwdesc">
                                  <label>Enter Price:</label>
                                   <input id = "htprodprice" type = "text" name = "hthwdesc">
                                 <button id ="prodaddbtn" class = "btn btn-success" type = "submit">Add to wish list</button>
                          </div>
                    </form>
              </div>
</div>

<!-- Start code for Cards !-->

$('submitButton').on('click', function() {
  //Get
  var name = $('#product_name').val(); // MUST ENTER INPUT ID
   //Get
  var desc = $('#product_desc').val(); // MUST ENTER INPUT ID
   //Get
  var price = $('#product_price').val(); // MUST ENTER INPUT ID

var myCard = $('<div>');
var imageURL = 'image.png';
var cardTemplate = '        <div class="image"> '+
            '<img src="' + imageURL + '">'+
        '</div>'+
        '<div class="content">'+
          '<div class="header">'+
          'Item: ' + name + '<br>'+
          'Description: ' + desc + '<br>'+
          'Price: ' + price + '<br>'+
        '</div>'+
        '<div class="ui bottom attached basic buttons">'+
          '<button class="ui button"><i class="pencil icon"></i></button>'+
          '<button class="ui button"><i class="trash icon"></i></button>'+
        '</div>';

myCard.append(cardTemplate);
myCard.attr('class', 'card');
$('.ui_card').append(myCard);


});

<!-- End code for Cards !-->

<div class = "container">
      <button><a href = "">Return to Home Page</button>
</div>
